body {
    font-family: Arial, sans-serif;
    background-image: url('/static/pictures/background/rooms.jpg');
    margin-top: 20px;
}

header {
    margin-bottom: 30px;
    color: #343a40;
}

section {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-section {
    background-color: #e9ecef;
}

button {
    cursor: pointer;
}

.table {
    background-color: #ffffff;
}
#sort-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#sort-form label {
    font-weight: bold;
    font-size: 16px;
    color: #343a40;
}

#sort-form select {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    font-size: 14px;
    color: #343a40;
    cursor: pointer;
}

#sort-form button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#sort-form button:hover {
    background-color: #0056b3;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.pagination button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: #0056b3;
}

.pagination span {
    font-size: 16px;
    font-weight: bold;
    color: black;
}
