body {
    font-family: Arial, sans-serif;
    background-color: darkslategray;
    margin-top: 20px;
}

header {
    margin-bottom: 30px;
    color: #343a40;
}

section {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-section {
    background-color: #e9ecef;
}

button {
    cursor: pointer;
}

.table {
    background-color: #ffffff;
}
#sort-form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#sort-form label {
    font-weight: bold;
    color: #343a40;
}

#sort-form select, #sort-form button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
}

#sort-form button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
}

#sort-form button:hover {
    background-color: #0056b3;
}
